<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="jp.meridiani.apps.volumeprofile"
    android:installLocation="auto"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="jp.meridiani.apps.volumeprofile.profile.VolumeProfileActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="jp.meridiani.apps.volumeprofile.pluginapi.PluginEditActivity"
            android:label="@string/title_activity_plugin_edit" >
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity>

        <receiver
            android:name="jp.meridiani.apps.volumeprofile.plubinapi.PluginFireReceiver"
            android:exported="true"
            android:process=":background"
            tools:ignore="ExportedReceiver" >
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.FIRE_SETTING" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="jp.meridiani.apps.volumeprofile.soundlevelalerthack.Receiver"
            android:exported="true"
            android:process=":background"
            tools:ignore="ExportedReceiver" >
            <intent-filter>
                <action android:name="com.sonyericsson.media.SOUND_LEVEL_ALERT" />
            </intent-filter>
        </receiver>

        <activity
            android:name="jp.meridiani.apps.volumeprofile.settings.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name="jp.meridiani.apps.volumeprofile.profile.ProfileEditActivity"
            android:label="@string/title_activity_profile_edit"
            android:parentActivityName="jp.meridiani.apps.volumeprofile.profile.VolumeProfileActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="jp.meridiani.apps.volumeprofile.profile.VolumeProfileActivity" />
        </activity>
    </application>

</manifest>
